## Settings file was created by plugin ValensHasThePower v1.1.0
## Plugin GUID: com.Valens.HasThePower

[General.Maps]

## Percentage Chance that Power will be On at Raid Start for the Customs Map. Default is 100.
# Setting type: Int32
# Default value: 100
Customs = 100

## Percentage Chance that Power will be On at Raid Start for the Interchange Map. Default is 100.
# Setting type: Int32
# Default value: 100
Interchange = 10

## Percentage Chance that Power will be On at Raid Start for the Reserve Map. Default is 100.
# Setting type: Int32
# Default value: 100
Reserve = 25

